* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.rainbow {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  color: black;
  animation: gradientAnimation 20ms ease-in-out infinite alternate;
}

button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}